<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>weui-栅格</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/css/weui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-weui.min.css">
	<style type="text/css">
		div[class*="col"]{

			border: 1px solid #ccc;
		}
	</style>
</head>
<body>
	<div class="weui-row" style="border: 1px solid #ccc">
		<div class="weui-col-90" style="border: 1px solid #ccc;padding: 0;line-height: 15px;">什么</div>
		
	</div>

	<div class="weui-row">
		<div class="weui-col-20">20</div>
		<div class="weui-col-20">20</div>
		<div class="weui-col-20">20</div>
		<div class="weui-col-20">20</div>
		<div class="weui-col-20">20</div>
	</div>

	<div class="weui-row">
		<div class="weui-col-33">33</div>
		<div class="weui-col-33">33</div>
		<div class="weui-col-33">33</div>
	</div>

	<div class="weui-row">
		<div class="weui-col-50">50</div>
		<div class="weui-col-50">50</div>
	</div>
	
</body>
<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="/js/city-picker.min.js"></script>
<script type="text/javascript" src="/js/swiper.min.js"></script>
</html>