<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>weui-tabbar</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/css/weui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-weui.min.css">
	<style type="text/css">
		
	</style>
</head>
<body>
  <div class="weui_tab">
    <div id = "tabbarcontent" class="weui_tab_bd" >
      <div id="tab1" class="weui_tab_bd_item weui_tab_bd_item_active">
        <h1 class="doc-head">微信sdflasjdflkjas拉什科江东父老开始觉得浪费空间萨里的咖啡机阿拉山口的肌肤拉数据大幅拉绝世独立飞机阿里斯顿肌肤拉数据大幅拉绝世独立放假啊三闾大夫家拉屎的肌肤拉绝世独立放假啊三闾大夫就阿里斯顿肌肤拉数据大幅拉绝世独立放假啊三闾大夫家拉屎的肌肤拉屎江东父老了可是江东父老看见类似的看法asdfjlskdj啊算了江东父老看见塑料袋封口机</h1>
      </div>
      <div id="tab2" class="weui_tab_bd_item">
        <div class="weui_tab">
          <div class="weui_navbar">
           <a href="#stbar1" class="weui_navbar_item weui_bar_item_on">
            选项一
          </a>
          <a href="#stbar2" class="weui_navbar_item">
            选项二
          </a>
          <a href="#stbar3" class="weui_navbar_item">
            选项三
          </a>
        </div>
        <div  class="weui_tab_bd">
          <div id="stbar1" class="weui_tab_bd_item weui_tab_bd_item_active">
            <h1 class="doc-head">微信sdflasjdflkjas拉什科江东父老开始觉得浪费空间萨里的咖啡机阿拉山口的肌肤拉数据大幅拉绝世独立飞机阿里斯顿肌肤拉数据大幅拉绝世独立放假啊三闾大夫家拉屎的肌肤拉绝世独立放假啊三闾大夫就阿里斯顿肌肤拉数据大幅拉绝世独立放假啊三闾大夫家拉屎的肌肤拉屎江东父老了可是江东父老看见类似的看法asdfjlskdj啊算了江东父老看见塑料袋封口机</h1>
          </div>
          <div id="stbar2" class="weui_tab_bd_item ">
            <h1 class="doc-head">微信sdflasjdflkjas拉什科江东父老开始觉得浪费空间萨里的咖啡机阿拉山口的肌肤拉数据大幅拉绝世独立飞机阿里斯顿肌肤拉数据大幅拉绝世独立放假啊三闾大夫家拉屎的肌肤拉绝世独立放假啊三闾大夫就阿里斯顿肌肤拉数据大幅拉绝世独立放假啊三闾大夫家拉屎的肌肤拉屎江东父老了可是江东父老看见类似的看法asdfjlskdj啊算了江东父老看见塑料袋封口机</h1>
          </div>
          <div id="stbar3" class="weui_tab_bd_item ">
            <h1 class="doc-head">微信sdflasjdflkjas拉什科江东父老开始觉得浪费空间萨里的咖啡机阿拉山口的肌肤拉数据大幅拉绝世独立飞机阿里斯顿肌肤拉数据大幅拉绝世独立放假啊三闾大夫家拉屎的肌肤拉绝世独立放假啊三闾大夫就阿里斯顿肌肤拉数据大幅拉绝世独立放假啊三闾大夫家拉屎的肌肤拉屎江东父老了可是江东父老看见类似的看法asdfjlskdj啊算了江东父老看见塑料袋封口机</h1>
          </div>
        </div>
        
      </div>
    </div>
    <div id="tab3" class="weui_tab_bd_item">
      <div class="weui_search_bar" id="search_bar">
        <form class="weui_search_outer">
          <div class="weui_search_inner">
            <i class="weui_icon_search"></i>
            <input type="search" class="weui_search_input" id="search_input" placeholder="搜索" required/>
            <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
          </div>
          <label for="search_input" class="weui_search_text" id="search_text">
            <i class="weui_icon_search"></i>
            <span>搜索</span>
          </label>
        </form>
        <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
      </div>
    </div>
    <div id="tab4" class="weui_tab_bd_item">
      <div class="weui_panel weui_panel_access">
        <div class="weui_panel_hd">图文组合列表</div>
        <div class="weui_panel_bd">
          <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
              <img class="weui_media_appmsg_thumb" src="" alt="">
            </div>
            <div class="weui_media_bd">
              <h4 class="weui_media_title">标题一</h4>
              <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
            </div>
          </a>
          <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
              <img class="weui_media_appmsg_thumb" src="" alt="">
            </div>
            <div class="weui_media_bd">
              <h4 class="weui_media_title">标题二</h4>
              <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
            </div>
          </a>
        </div>
        <a class="weui_panel_ft" href="javascript:void(0);">查看更多</a>
      </div>

      <div class="weui_panel weui_panel_access">
        <div class="weui_panel_hd">文字组合列表</div>
        <div class="weui_panel_bd">
          <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title">标题一</h4>
            <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
          </div>
          <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title">标题二</h4>
            <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
          </div>
        </div>
        <a href="javascript:void(0);" class="weui_panel_ft">查看更多</a>
      </div>

      <div class="weui_panel">
        <div class="weui_panel_hd">文字列表附来源</div>
        <div class="weui_panel_bd">
          <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title">标题一</h4>
            <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
            <ul class="weui_media_info">
              <li class="weui_media_info_meta">文字来源</li>
              <li class="weui_media_info_meta">时间</li>
              <li class="weui_media_info_meta weui_media_info_meta_extra">其它信息</li>
            </ul>
          </div>
        </div>
      </div>


      <div class="weui_panel">
        <div class="weui_panel_hd">小图文组合列表</div>
        <div class="weui_panel_bd">
          <div class="weui_media_box weui_media_small_appmsg">
            <div class="weui_cells weui_cells_access">
              <a class="weui_cell" href="javascript:;">
                <div class="weui_cell_hd"><img src=""></div>
                <div class="weui_cell_bd weui_cell_primary">
                  <p>文字标题</p>
                </div>
                <span class="weui_cell_ft"></span>
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="weui_tabbar">
    <a href="#tab1" class="weui_tabbar_item weui_bar_item_on">
      <div class="weui_tabbar_icon">
        <img src="/images/1.jpg" alt="">
      </div>
      <p class="weui_tabbar_label">微信</p>
    </a>
    <a href="#tab2" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="/images/2.jpg" alt="">
      </div>
      <p class="weui_tabbar_label">通讯录</p>
    </a>
    <a href="#tab3" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="/images/3.jpg" alt="">
      </div>
      <p class="weui_tabbar_label">发现</p>
    </a>
    <a href="#tab4" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="/images/4.jpg" alt="">
      </div>
      <p class="weui_tabbar_label">我</p>
    </a>
  </div>
</div>

</body>
<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="/js/city-picker.min.js"></script>
<script type="text/javascript" src="/js/swiper.min.js"></script>
<script type="text/javascript">
	$(function(){
		// $.alert($(window).height() - 50)
		$("#tabbarcontent").css("height","" + ($(window).height()));
	})

</script>

</html>